*, *:before, *:after {
	box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

a {

	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover,
	&:active {
		outline-width: 0;
	}

}

button,
input {

	cursor: pointer;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	border-width: 0px !important;
	overflow: visible;
	-webkit-appearance: none;

	&:focus {
		outline: none;
	}

}